<div class="container">
    <h2>Detalle del Personaje</h2>
    <br>
    <div class="card">
        <h3>{{ person.fullName }}</h3>
        <div class="body-card">
            <div class="img-card">
                <img src="{{person.imageUrl}}" alt="">
            </div>
            <div class="details">
                <span>Primer Nombre : </span> <h5>{{person.firstName}}</h5>
                <span>Apellidos : </span> <h5>{{person.lastName}}</h5>
                <span>Titulo : </span> <h5>{{person.title}}</h5>
                <span>Familia : </span> <h5>{{person.family}}</h5>
            </div>
        </div>
        <div class="footer-card">
            <a href="/game_api">Lista de Personajes</a>
        </div>
    </div>
</div>